<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revich.mobile.tpfinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_SeleccionarDatos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_CargarDatos" />
        <activity android:name=".Activity_ListadoJanijim" />
        <activity android:name=".Activity_ABMJanijim" />
        <activity android:name=".Activity_ListadoGrupos" />
        <activity android:name=".Activity_ABMGrupos" />
        <activity android:name=".Activity_Presentismo" />
        <activity android:name=".Activity_Habilidades" />
        <activity android:name=".Activity_AgregarGrupo" />
        <activity android:name=".Activity_Estadisticas"></activity>
    </application>

</manifest>